

body{
  background-color: aqua;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px green;
  background-color: white;
  height: 250px;
  width: 180px;
  transform-style: preserve-3d;
  /* transform: rotateY(var(--rotate-y, 0)); */
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  cursor: pointer;
  transition: 150ms;
}

.card .front, .card .back {
  position: absolute;
  padding: 3rem;
  
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg)
}

.card.flip {
  --rotate-y: 180deg;
}

.card:hover{
  box-shadow: 0 0 5px 2px blue;
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}